<nav class="navbar" role="navigation" aria-label="main navigation" x-data="{navbarActive: false}">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <strong>Your Logo</strong>
        </a>

        <a role="button" class="navbar-burger" :class="{'is-active': navbarActive}" aria-label="menu" aria-expanded="false" x-on:click="navbarActive = !navbarActive">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" :class="{ 'is-active': navbarActive }">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="/about">
                About
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Documentation
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        {{if .UserID}}
        <div class="navbar-end">
            <a href="" class="navbar-item">Hi, {{.Name}}!</a>
            <div class="navbar-item">
                <div class="buttons">
                    {{if .IsAdmin}}
                    <a class="button is-primary" href="/admin">
                        <strong>Admin</strong>
                    </a>
                    {{end}}
                    <a class="button is-primary" href="/dashboard">
                        <strong>Dashboard</strong>
                    </a>
                    <a class="button is-light" href="/logout">
                        Log out
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/register">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/login">
                        Log in
                    </a>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</nav>