<div class="container">
    <div class="columns is-centered is-vcentered" style="min-height: 80vh;">
        <div class="column is-half-desktop is-two-thirds-tablet">
            <div class="box has-text-centered">
                <h1 class="title is-1 has-text-danger">404</h1>
                <p class="title is-4 mb-4">Page Not Found</p>
                <p class="subtitle is-6 has-text-grey mb-6">The page you're looking for doesn't exist or has been moved.</p>
                <div class="buttons is-centered">
                    <a href="/" class="button is-primary">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>Go Home</span>
                    </a>
                    <button class="button is-light" onclick="history.back()">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Go Back</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>